ul.home {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home li {
    width: 25%;
    padding: 10px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.home li img {
    width: 100%;
    cursor: pointer;
}

.home li h2 {
    transition: all ease-out .5s;
    position: absolute;
    height: 100%;
    left: 10px;
    right: 10px;
    padding: 20px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    top: 100%;
    font-weight: 300;
    background: rgba(0,0,0, 0)
    
}

.home li:hover h2 {
    top: 50%;
    background: rgba(0,0,0, 0.7)
}

@media screen and (max-width: 768px) {
    .home li {
        width: 50%;
    }

    .home li h2 {
        display: block;
        font-size: 25px;
        top: 50%;
        background: rgba(0,0,0, 0.7);
        line-height: 1.2;
    }
}

@media screen and (max-width: 480px) {
    .home li {
        width: 100%;
    }
}