.search {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search-bar {
    position: absolute;
    width: 500px;
    max-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e0e0e0;
    padding: 5px;
    border: 1px solid #ccc;
}

.search-bar input {
    font-family: Arial;
    padding: 10px;
    width: 80%;
    border: 0;
}

.search-bar button {
    width: 18%;
    padding: 5px;
    border: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    height: 35px;
}

.search-bar button:hover {
    box-shadow: inset 1px 1px 2px #ccc;
}