* {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Exo 2';
    text-align: center;
    padding: 0 90px;
}